/* 타입선택자(태그선택자) */
pre{
    text-align :center;
}

h1{
    text-align: right;
    color: blue;
}

/* id 선택자 */
#sid01 {
    color:green;
}

#sid02 {
    color: yellow;
}

#sid03 {
    color: blue;
}

/* class 선택자 */
.scls{
    color: pink;
}

#scls01 {
    color: blue;
}

/* 전체선택자 */
*{
    text-align : center;
    margin: 0;
    padding: 0;
}

/* 자식선택자 */
#did > div > p{
    color: silver;
}

#did > p{
    color : orange;
}

/* 인접선택자 /  +는 인접이라는 의미임 더하기가 아니다.*/
h3 + b{  
    background-color: black;
    color: white; 
}

span + b {
    background-color: yellow;
    color: brown;
}

/* 속성선택자   속성이름은 특정인게 몇가지 있다.*/
p[title]{
    color: skyblue;
}

p[name]{
    color: red;
}

p[title="b"]{
    background-color: yellow;
}

/* 가상 클래스 선택자 */
a:link{
    color: pink;
    font-size: 20pt;

}

a:visited{
    color:red;
}

a:hover{
    background-color: black;
}

input:checked{
    width: 200px;
    height: 200px;
    
}

/* 종속 선택자 */
li.acls01{
    background-color: green;
}

li.acls02#sidli{ 
    background-color: yellow;
}

/* 하위선택자 */
div span{
    background-color: yellow;
}

/*그룹선택자*/
p,pre,strong{
    color:lime
}